<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\images\home.css">
    <title>Automated Sign Language Translator</title>
</head>
<body>
    <div class="container">
        <!-- Navbar -->
        <header class="navbar">
            <img src="static\images\logo.jpeg" alt="SpaceECE" class="logo">
            <h1 class="main-heading">Automated Sign Language Translator</h1>
        </header>

        <!-- Main Content -->
        <main class="content">
            <img src="static\images\logo.jpeg" alt="SpaceECE" class="main-logo">
            <h1>AI Based Sign Language Translation Tool</h1>
            <p>We Can Be Your Voice!</p>

            <!-- Buttons -->
            <div class="buttons">
                <button class="yellow-button" onclick="location.href='/translate'">
                    Text-To-Sign Translation
                </button>
                <button class="red-button" onclick="location.href='/process_frame'">
                    Sign-To-Text/Speech Translation
                </button>
            </div>
        </main>
    </div>

    <script>
        function toggleMenu() {
            // Implement your menu toggle functionality here
        }
    </script>
</body>
</html>
